@import "_variables.scss";

// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    max-width: $body-width;
    display: grid;
    grid-auto-rows: $nav-height auto $nav-height;
    margin: 0;
    background-color: $background;
    * {
        font-family: $font-family-sans-serif;
    }
}
header {
    height: $nav-height;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: $primary;
    img {
        height: $nav-img-height;
    }
    a {
        color: $secondary;
        text-decoration: none;
    }
}
main {
    display: flex;
    height: $main-height;
    margin: $nav-height 0;
    width: $main-width;
}
button {
    display: flex;
    height: 3rem;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    &.primary {
        background-color: $primary;
        color: $secondary;
    }
    &.secondary {
        background-color: $secondary;
        color: $primary;
    }
    &.accent {
        background-color: $accent;
        color: $secondary;
    }
}
nav {
    height: $nav-height;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary;
    z-index: 1;
    width: 100%;
    a {
        display: grid;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        gap: 0.5rem;
        z-index: 2;
        width: 20%;
        .selected {
            transition: all 0.2s ease;
            color: $secondary;
        }
        p,
        span {
            margin: 0 1rem;
            text-align: center;
            color: $primary;
            font-weight: bold;
        }
    }
}
#home {
    display: grid;
    grid-template-rows: 1fr 2fr 9fr;
    width: $main-width;
    margin: $page-margin;
    gap: 1rem;
    #filterElement {
        border-radius: $border-radius;
        display: grid;
        grid-template-rows: auto auto;
        background-color: $primary;
        .search {
            display: grid;
            grid-template-columns: 1fr auto;
            width: 100%;
            .searchBar {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: $border-radius;
                font-size: 16px;
                color: $secondary;
                background-color: $secondary;
            }
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 0.8rem;
                span {
                    color: $secondary;
                }
            }
        }
        .filters {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            padding: 0.2rem;
            align-items: center;
            color: $secondary;
            button {
                width: 100%;
            }
        }
    }
    #categories {
        width: calc($main-width - $page-margin * 2);
        .category {
            margin-bottom: 1rem;
        }
        .new-posts {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            .post {
                flex: 0 0 auto;
                scroll-snap-align: start;
                display: grid;
                width: calc($main-width - $page-margin * 2);
                grid-template-rows: 1fr 1fr;
                gap: 1rem;
                padding: 1rem;
                border-radius: $border-radius;
                background-color: $secondary;
                img {
                    width: 100%;
                    border-radius: $border-radius;
                }
                .postContent {
                    display: grid;
                    gap: 0.5rem;
                    p {
                        color: $primary;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
body a span.material-symbols-rounded {
    font-size: 32px;
}
.overlay {
    z-index: -1;
    top: 10%;
    position: absolute;
    height: 50%;
    width: 25%; /* Adjust this based on the size of your navbar links. */
    background-color: $primary; /* Adjust this based on your design. */
    border-radius: 50px; /* This makes the overlay pill-shaped. Adjust as needed. */
    transition: all 0.3s ease; /* This animates the movement of the overlay. Adjust as needed. */
}
// Slide animation of the navbar
.slide-enter-active,
.slide-leave-active {
    transition: all 0.5s ease-in-out;
}
.slide-enter,
.slide-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}
// Fade animation of the navbar
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
