@import "_variables.scss";

// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    max-width: $body-width;
    margin: 0;
    background-color: $background;
    * {
        font-family: $font-family-sans-serif;
    }
}
header {
    height: $nav-height;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: $primary;
    img {
        height: $nav-img-height;
    }
    a {
        display: flex;
        color: $secondary;
        text-decoration: none;
    }
}
main {
    display: flex;
    height: $main-height;
    margin: $nav-height 0;
    width: $main-width;
}
button {
    display: flex;
    height: 3rem;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
    &.primary {
        background-color: $primary;
        color: $secondary;
        &:hover {
            background-color: darken($primary, 10%);
        }
    }
    &.secondary {
        background-color: $secondary;
        color: $primary;
        &:hover {
            background-color: darken($secondary, 10%);
        }
    }
    &.accent {
        background-color: $accent;
        color: $background;
        &:hover {
            background-color: darken($accent, 10%);
        }
    }
    &.danger {
        background-color: $danger;
        color: $background;
        &:hover {
            background-color: darken($danger, 10%);
        }
    }
}
nav {
    height: $nav-height;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary;
    z-index: 1;
    width: 100%;
    a {
        display: grid;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        gap: 0.5rem;
        z-index: 2;
        width: 20%;
        .selected {
            transition: all 0.2s ease;
            color: $secondary;
        }
        p,
        span {
            margin: 0 1rem;
            text-align: center;
            color: $primary;
            font-weight: bold;
        }
    }
}
.overlay {
    z-index: -1;
    top: 10%;
    position: absolute;
    height: 50%;
    width: 20%; /* Adjust this based on the size of your navbar links. */
    background-color: $primary; /* Adjust this based on your design. */
    border-radius: 50px; /* This makes the overlay pill-shaped. Adjust as needed. */
    transition: all 0.3s ease; /* This animates the movement of the overlay. Adjust as needed. */
}
#home {
    & * {
        text-decoration: none;
    }
    display: grid;
    grid-template-rows: 4rem 8rem auto;
    width: $main-width;
    margin: $page-margin;
    gap: 1rem;
    button {
        height: 100%;
        font-size: 1.2rem;
    }
    #filterElement {
        border-radius: $border-radius;
        display: grid;
        grid-template-rows: auto auto;
        background-color: $primary;
        .search {
            display: grid;
            grid-template-columns: 1fr auto;
            width: 100%;
            .searchBar {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: $border-radius;
                font-size: 16px;
                color: $primary;
                background-color: $secondary;
            }
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 0.8rem;
                span {
                    color: $secondary;
                }
            }
        }
        .filters {
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            padding: 0.2rem;
            align-items: center;
            color: $secondary;
            button {
                width: 100%;
            }
        }
    }
    .search-posts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #categories {
        width: calc($main-width - $page-margin * 2);
        .category {
            margin-bottom: 1rem;
        }

        .new-posts,
        .nearby-posts {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            gap: 1rem;
            scroll-snap-type: x mandatory;
        }
    }
}
.post {
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: grid;
    width: calc($main-width - $page-margin * 6);
    grid-template-rows: auto 1fr;
    border-radius: $border-radius;
    background-color: $secondary;
    &.search_result {
        width: 100%;
    }
    img {
        width: 100%;
        border-radius: $border-radius;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    .post-header {
        display: flex;
        justify-content: space-between;
        .post-title {
            margin: 0;
        }
    }
    .post-content {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        div.post-content-row {
            display: flex;
            gap: 1rem;
            align-items: center;
            flex-direction: row;
            p {
                color: $primary;
                margin: 0;
            }
        }
        .post-icons {
            font-size: 18px;
        }

        button {
            width: 100%;
        }
    }
}
#profile,
#settings,
#notifications,
#notFound {
    & * {
        text-decoration: none;
    }
    width: $main-width;
    margin: $page-margin;
    gap: 1rem;
    width: 100%;
}
#profile {
    display: grid;
    grid-template-rows: 1fr auto auto;
    width: $main-width;
    margin: $page-margin;
    gap: 1rem;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        hr {
            width: 100%;
        }
    }
    button {
        padding: 0 1rem;
    }
    .user-posts {
        display: flex;
        width: 100%;
        gap: 1rem;
        flex-direction: column;
        .post {
            display: flex;
            width: 100%;
            flex-direction: column;
            background: $secondary;
            border-radius: $border-radius;
            img {
                width: 100%;
                border-radius: $border-radius;
            }
        }
    }
}
#post {
    img {
        width: 50vw;
    }
}
#settings {
    section {
        display: flex;
        flex-direction: column;
    }
}
#notifications {
    .notifications {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .notification {
            & * {
                text-decoration: none;
            }
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            background: $secondary;
            border-radius: $border-radius;
            .notification-content {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                p {
                    color: $primary;
                }
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: $border-radius;
                object-fit: cover;
            }
        }
    }
}
#map {
    user-select: none;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-style: none;
    z-index: 0;
    .popup-image {
        width: 6rem;
        height: 6rem;
        border-radius: 12px;
        object-fit: cover;
        margin-right: 1rem;
    }
}
body a span.material-symbols-rounded {
    font-size: 32px;
}

// Slide animation of the navbar
.slide-enter-active,
.slide-leave-active {
    transition: all 0.5s ease-in-out;
}
.slide-enter,
.slide-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}
// Fade animation of the navbar
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
