body {
    max-width: 100vw;
    display: grid;
    grid-auto-rows: auto max-content auto;
    height: 100vh;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
main {
    display: flex;
    height: calc(100vh - 12rem);
}
nav {
    height: 6rem;
}